@import url("https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick-theme.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import './css/main1.css';
@import './css/main2.css';
