.slider-small-wrapper ul, .slider-image-wrapper ul {
padding:0;
margin:0;
list-style-type:none;
}

.slider-wrapper {
padding-top: 50px;
padding-bottom: 80px;
}
.slider-small-container * {
transition: all 0.2s ease-in-out;
}
.slider-small-container {
position: relative;
float: right;
width: 25%;
}
.slider-small-wrapper {
overflow: hidden;
max-height: 555px;
}
.slider-big-box {
float: left;
width: 75%;
height: 555px;
position: relative;
}
.slider-big-box:after {
content: '';
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
background: rgba(0,0,0,0.7);
background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.7) 0, transparent 100%); /* Chrome10+,Safari5.1+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C',
GradientType='1'); /* for IE */
background: linear-gradient(0deg, rgba(0,0,0,0.7) 0, transparent 100%);/* W3C */
}
.slider-image-wrapper {
height: 555px;
}
ul.slider-post-info {
padding: 15px;
position: relative;
z-index: 3;
}
li.slider-post-info-item {
float: left;
margin-right: 5px;
text-align: center;
font-size: 0.875rem;
}
a.slider-post-info-a {
display: block;
width: 72px;
padding: 10px;
box-sizing: content-box;
color: #fff;
}
.slider-post-comments {
background-color: #04A06B;
}
.slider-post-category  {
background-color: #3a3a3a;
}
.slider-post-date {
background-color: #E4860D;
}
li.slider-post-info-item i {
font-size: 1.2rem;
margin-bottom: 6px;
}
.title-and-summary {
position: absolute;
bottom: 40px;
left: 25px;
right: 150px;
color: #fff;
z-index: 3;
}
.slider-big-box h2.heading {
margin-bottom: 20px;
font-family: 'Roboto Slab', sans-serif;
font-size: 2.8rem;
font-weight: 700;
text-transform: capitalize;
}
.slider-small-box .slider-post-title {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
color: #fff;
font-family: 'Roboto Slab', serif;
text-transform: capitalize;
font-weight: 700;
line-height: 1.7;
z-index: 3;
}
.slider-small-box h2.heading {
position: absolute;
font-size: 0.8rem;
bottom: 19px;
left: 12px;
right: 12px;
}

li.slider-small-items {
height: 185px;
position: relative;
font-weight: 700;
text-transform: capitalize;
line-height: 1.6;
}

.slider-small-items:after {
content: '';
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
background: rgba(0,0,0,0.7);
background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.7) 0, transparent 100%); /* Chrome10+,Safari5.1+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C',
GradientType='1'); /* for IE */
background: linear-gradient(0deg, rgba(0,0,0,0.7) 0, transparent 100%);/* W3C */
}
button#up, button#down {
position: absolute;
z-index: 10;
right: 50%;
margin-right: -15px;
width: 30px;
height: 30px;
background: #E4860D;
border: 0;
color: #fff;
font-size: 1.2rem;
cursor: pointer;
outline: 0;
}
button#up {
top: -15px;
}
button#down {
bottom: -15px;
}
button#up:hover, button#down:hover {
background: #555;
}


@media only screen and (max-width: 880px) {
.slider-big-box {
float: none ;
width: 100% ;
}
.slider-small-container {
float: none ;
width: 100% ;
}}

@media only screen and (max-width: 770px) {
slider-big-box {
height: 350px;
}
.title-and-summary {
right: 25px;
}
.slider-big-box h2.heading {
font-size: 1.6rem;
}
}

@media only screen and (max-width: 475px) {

.title-and-summary {
bottom: 15px;
left: 15px;
}

p.slider-post-summary {
display: none;
}
.slider-big-box h2.heading {
font-size: 1.2rem;
}

.slider-big-box {
height: 310px;
}
.slider-image-wrapper {
height: 350px;
}
}

@media only screen and (max-width: 360px) {

.slider-big-box {
height: 260px;
}
li.slider-post-info-item {
font-size: 0.775rem;
}
a.slider-post-info-a {
width: 59px;
}
}

@media only screen and (max-width: 319px) {

ul.slider-post-info, .bsummary .publish-date, .bsummary .comments, .twocolumns .publish-date, .twocolumns .comments, .post-body ul.post-meta, .sidebar-wrapper, #footer-wrapper .clearfix .section, .item .post-timestamp {
display: none;
}
.slider-big-box, .slider-small-container {
height: 200px;
}
}
